@model Vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>

@using (Html.BeginForm("Save", "Movies", FormMethod.Post, new { id = "submitForm" }))
{
    @Html.ValidationSummary(true,"Please Fix the Following Errors")
<section class="form-field">
    <div class="form-group">
        @Html.LabelFor(m => Model.Name)
        @Html.TextBoxFor(m => Model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.ReleaseDate)
        @Html.TextBoxFor(m => Model.ReleaseDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.GenreId)
        @Html.DropDownListFor(m => Model.GenreId, new SelectList(Model.GenreTypes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.GenreId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.NumberInStock)
        @Html.TextBoxFor(m => Model.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.NumberInStock)
    </div>



    <button type="submit" class="btn btn-primary"> Save</button>
    
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
</section>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}